.vscode
.nyc_output
node_modules
coverage
docs
scripts
snippets
src
test
.eslintrc.json
.gitignore
.nvmrc
.nycrc
.prettierrc
.travis.yml

HISTORY.md
LICENSE

tsconfig-base.json
tsconfig.json
tslint.json
webpack.config.js

package-lock.json
yarn.lock